.skills-container {
    text-align: center;
    padding: 40px;
    background-color: black;
    min-height: 100vh;
}

.skills-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #f39c12;
}

.skills-subtitle {
    margin-bottom: 30px;
    color: #bdc3c7;
    font-size: 1.2em;
}

.skills-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skills-category-box {
    background: linear-gradient(145deg, #2c2c2c, #3a3a3a);
    padding: 20px;
    box-shadow: 5px 5px 10px #141414, -5px -5px 10px #464646;
    border-radius: 15px;
    width: 350px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-category-box:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px #141414, -10px -10px 20px #464646;
}

.skills-category-box h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #ecf0f1;
    text-align: center;
    border-bottom: 2px solid #f39c12;
    padding-bottom: 10px;
}

.skills-category-box ul {
    list-style: none;
    padding: 0;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.2em;
    color: #ecf0f1;
}

.skill-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #f39c12;
}

.skill-name {
    font-weight: bold;
    color: #ecf0f1;
}

.skill-level {
    color: #bdc3c7;
}
