.cards {
    background-color: black;
    padding: 60px 20px;
    text-align: center;
}

.title {
    font-size: 2.5em;
    color: #f39c12;
    margin-bottom: 40px;
    position: relative;
}

.title::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 0.5rem auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 23rem;
    height: 32rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.icon {
    background-color: #f39c12;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-style {
    font-size: 4rem;
    color: white;
}

.info {
    padding: 20px;
    text-align: center;
}

.info h3 {
    font-size: 1.5em;
    color: #333333d1;
    margin-bottom: 10px;
    text-align: center;
}

.info p {
    color: #666;
    line-height: 1.6;
    font-size: 1.1rem;
    padding: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f39c12;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #e67e22;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}
