.navbar {
    height: 5rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(13, 1, 21);
    width: 100%;
    max-width: none;
}

.logo {
    margin-top: 5px;
    object-fit: cover;
    height: 6rem;
    width: 7.5rem;
    border-radius: 50%;
    overflow: hidden;
}


.desktopMenuListItem {
    margin: 0 2rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{ 
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuBtn {
    background: white;    
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.desktopMenuimg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 0.8rem 0.3rem;
}

.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.navbar .mobMenu {
    display: none;
    object-fit: cover;
    color: yellow;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);    
}

@media screen and (max-width:800px) {
    .navbar .mobMenu {
        display: flex;
    }

    .desktopMenu {
        display: none;
    }
    
    .desktopMenuBtn {
        display: none;
    }
    .logo {
        height: 4.5rem;
        width: 8rem;
    }    
}
