#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.circle {
    position: absolute;
    top: 8rem;
    right: -0vh;
    z-index: -1;
    width: 55vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    height: 58vh;
}

.bg {
    height: 130%;
    width: auto;
    object-fit: cover;
}

.introContent {
    height: 100vh;
    width: 100vh;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
    letter-spacing: 2px;
    display: inline-block;
    transition: transform 0.5s, opacity 0.5s;
}

.introName.out {
    transform: translateY(100%);
    opacity: 0;
}

.introName.in {
    transform: translateY(-100%);
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: beige;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 840px) {
    .circle {
        right: -10vh;
    }

    .introContent {
        font-size: 5vh;
        padding: 2rem;
    }

    .hello {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 680px) {
    .circle {
        right: -20vh;
    }

    .introContent {
        font-size: 4vh;
        padding: 1.5rem;
    }

    .circle {
        top: 10px;
        left: 8rem;
        width: 16.5rem;
        height: 18rem;
    }
}
